//Imports//
@import url(http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:400,300,600,700);

//Typography//
$font-open: 'Open Sans', sans-serif;
$font-pacifico: 'Pacifico',cursive;
$font-size-small: 0.8em;
$font-size-regular: 1em;
$font-size-large: 1.5em;
$font-size-x-large: 2.5em;

//Colors//
$primary-color: #333;
$grey-light: #EFEDEA;
$grey: #999999;
$blue: #0E94F7;
$dark-blue: #0771C4;
$green: #0AE791;
$turquoise: #46E0C6;
$white: #FFFFFF;
$purple: #666699;
$orange: #FF8D20;

$weight-thin: 300;
$weight-regular: 400;
$weight-thick:700;

$global-border-radius: 2px;

// Standards //

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  background: lighten($grey-light, 0%);
  font-family: $font-open;
  padding-bottom: 100px;
}

p {
  font-weight: $weight-thin;
  color: darken( $grey, 30% );
  font-size: 0.9rem;
  margin-top: 0;
}

h1 {
	color: $dark-blue;
  font-family: $font-open;
  margin: 0;
  padding-top: 10px;
  text-shadow: 2px 2px 1px #ffffff;
  text-align: center;
  font-size: $font-size-x-large;
  font-weight: $weight-thin;
}

h2 {
  color: $white;
  font-family: $font-open;
  text-align: center;
}

h3 {
  font-size: $font-size-large;
  color: $blue;
  font-weight: $weight-thin;
  text-align: center;
}

.steps {
  display: flex;
  justify-content: center;
}

// Header & Footer //

header {
  background-color: #0E99FF;
  position: relative;
  border-bottom: 3px soild darken($blue, 20%);
}

.header {
  height: 100%;
  padding-left: 30px;
  text-align: center;
}

.header .logo img {
  margin-top:30px;
}

footer {
  background: $blue;
  bottom: 0;
  height: 68px;
  position: fixed;
  width: 100%;
}

footer .logo {
  display: inline;
  float: left;
  background: $dark-blue;
  display: none;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

footer h2 {
    font-weight: $weight-regular;
    font-size: 20px;
}

.get_btn {
  background: $dark-blue;
  border-radius: $global-border-radius;
  bottom: 5px;
  color: $white;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 0.9s ease;
  text-align: center;
  font-weight: $weight-regular;
  padding: 0.6rem 1.2rem;
  box-shadow: 1px 1px 1px $blue inset;
  box-shadow: 1px 2px 2px #b7b7b7;
}

.get_btn:hover {
   background: $turquoise;
}

.footer-summary {
    display: inline;
    float: left;
}

.footer-summary span {
    background: $dark-blue;
    border-radius: 2px;
    color: #ffffff;
    list-style-type: none;
    padding: 10px;
    margin: 14px;
    position: relative;
    top: -82px;
    display: block;
    margin: 0 auto 12px;
    width: 90%;
    text-align: center;
    font-weight: $weight-thick;
}

// Banner Boxes //

#container {
    padding: 15px;
    width: 100%;
}

.container {
  margin: 20px 3%;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  opacity: 1;
}

.container.ng-hide {
  opacity: 0;
}

.container.ng-hide-remove {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}

.box {
  padding: 20px;
  float: left;
  width: 100%;
  -webkit-transition: 0.8s linear;
  -moz-transition: 0.8s linear;
  -o-transition: 0.8s linear;
  -ms-transition: 0.8s linear;
  transition: 0.8s linear;
  overflow: hidden;
  position: relative;
  transition-timing-function: ease-out;
transition: 0.2s;
height: 310px
}

.box:hover {
  padding: 0%;
 -webkit-box-shadow: 0px 4px 8px 3px #dfdfdf;
 -moz-box-shadow: 0px 4px 8px 3px #dfdfdf;
 box-shadow: 0px 4px 8px 3px #dfdfdf;
}


.box h2 {
  font-size: $font-size-small;
}

.box .banner_preview {
  border-radius: 4px;
  background: #FFFFFF;
  //-webkit-box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.75);
  //-moz-box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.75);
  //box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.75);
  text-align: center;
-webkit-transition: all 1s ease;
    width: 100%;
    height: 290px;
}

.box .banner_preview:hover {
  transition-timing-function: ease-in;
  transition: 0.35s;
  height: 300px;
}

/*.box .banner_preview:hover > .banner_footer {
  top: 10px !important;
  transition-timing-function: ease-in;
  transition: 0.25s;
}*/

.box .banner_preview:hover > .banner_img {
  height: 80px;
  -webkit-transition: height 0.35s, width 0.35s; /* Safari */
    transition: height 0.35s, width 0.35s;
    width: 22%;
   margin: 0 39%;
   border-radius: 200px;
    transition-timing-function: ease-in;
    transition: 0.35s;
    top: 30px;
  position: relative;
  height: 80px;
}

.banner_preview h1 {
  text-transform: uppercase;
  color: #6b6b6b;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-family: $font-open;
  font-size: $font-size-regular;
  font-weight: $weight-regular;
  position: relative;
  top: 20px;
}

.banner_preview p {
  min-height: 36px;
}
  .banner_img {
      height: 160px;
      margin: 0%;
      overflow: hidden;
      width: 100%;
      transition-timing-function: ease-in;
      transition: 0.35s;
      border-top-left-radius: 5px;
border-top-right-radius: 5px;
  }


.banner_img > img {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 188px;
}

.banner_footer {
  background: lighten( $grey, 36% );
  width: 100%;
  border-top: 1px solid #e2e2e2;
  position: relative;
  height: 60%;
  top: 50px;
}

.box p {
  position: relative;
  top: 160px;
  transition-timing-function: ease-out;
  transition: 0.35s;
}

.box .banner_preview:hover > p  {
  top: 30px;
  transition-timing-function: ease-in;
  transition: 0.35s;
}


.tab {
    cursor: pointer;
    float: left;
    height: 100%;
    width: 50%;
    padding-top: 26px;
    border-left: 1px solid #e2e2e2;
    transition: background-color 0.2s ease-in-out;
}

.tab:first-child {
    border-left-width: 0;
}

.tab a {
    color: #999;
}

.tab--added {
    background-color: lighten( $grey, 32% );
    box-shadow: 0px 0px 1px #eee inset;
}

.tab--added .fa-3x {
    color: $blue !important;
}

.fa-3x {
    font-size: $font-size-x-large !important;
    color: $grey;
}

// Inputs, labels etc....//

label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}

input[type=checkbox] {
  display: none;
}

label:before {
  content: "\f00c";
  display: table;
  width: 36px;
  height: 36px;
  background-color: #c8c8c8;
  color: #F5F5F5;
  font-size: 26px;
  line-height: 36px;
  font-family: FontAwesome;
}

label:before:hover {
  background-color: #67ACE9;
}

.checkbox label {}

.checkbox label::before {
    border-radius: 50%;
    margin-left: -14px;
    position: relative;
    top: 5px;
}

input[type=checkbox]:checked + label:before {
  content: "\f00c ";
  font-size: 26px;
  color: #f3f3f3;
  text-align: center;
  line-height: 36px;
  background-color: #67ACE9;
  font-family: FontAwesome;
}

.search_input {
  background: #e6e6e6 none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: $global-border-radius;
  margin: 30px 10px 20px;
  padding: 10px;
}

.search_input input[type="text"] {
  border: 1px solid #ccc;
  border-radius: $global-border-radius;
  color: #35619f;
  font-size: 19px;
  font-weight: $weight-thin;
  height: 40px;
  margin: 0;
  padding: 0 20px;
  width: 100%;
}

.search_input input[type="button"] {
  background: lighten( $grey, 32% );
  border: medium none;
  border-radius: $global-border-radius;
  color: #ffffff;
  font-size: 19px;
  padding: 8px;
  width: 20%;
}

/************** Language Select *****************/

#languages {
    background: $white;
    border-bottom: 2px solid #a9a9a9;
    border-radius: 4px;
    box-shadow: 0 2px 5px -4px rgba(0, 0, 0, 0.75);
    display: inline;
    float: left;
    height: 100%;
    padding: 2% 4%;
    text-align: center;
    width: 80%;
    margin: 2% 10%;
}

.langtab {
    background: lighten( $grey, 36% );
    border-radius: $global-border-radius;
    /****box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);****/
    cursor: pointer;
    float: left;
    padding: 10px 6px;
    transform: translateY(-2px);
    transition: all 0.1s linear 0s;
    width: 100%;
    margin: 27px 3%;
}

.langtab--added {
    background: $green;
    box-shadow: none;
    border: none;
    transition: all 0.1s linear 0s;
    /****box-shadow: 0px -1px 1px #5e5e5e;****/
}

.langtab--added p {
  color: $white !important;
}

.langtab--added .fa.fa-check.fa-3x {
  color: $white !important;
}

#languages [data-id] {
  width: 93%;
  transition: all 0.2s ease-in-out 0s;
}

.langtab.langtab--add > p {
    display: inline;
    font-size: 20px;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.langtab .flag {
    background-image: url("../img/sprite-flags.png");
    display: block;
    float: left;
    height: 22px;
    width: 22px;
}

.langtab.langtab--add i {
    border-left: 1px solid #e2e2e2;
    float: right;
    padding: 0 10px;
    font-size: 1.5rem !important;
}

.en {
     background-position: 0 -24px;
}
.fr {
    background-position: -96px -24px;
}
.it {
    background-position: -648px -24px;
}
.ae {
     background-position: -24px 0;
}
.bg {
     background-position: -384px 0;
}
.br {
     background-position: -336px 0;
}
.cs {
     background-position: -624px 0;
}
.ct {
     background-position: -456px 0;
}
.de {
     background-position: -696px 0;
}
.da {
     background-position: -672px 0;
}
.ee {
     background-position: -768px 0;
}
.es {
     background-position: -24px -24px;
}
.fi {
     background-position: -48px -24px;
}
.gr {
     background-position: -240px -24px;
}
.he{
     background-position: -336px -24px;
}
.hr {
     background-position: -408px -24px;
}
.hu {
     background-position: -456px -24px;
}
.id {
     background-position: -480px -24px;
}
.is {
     background-position: -600px -24px;
}
.jp {
     background-position: -672px -24px;
}
.ko {
     background-position: 0 -48px;
}
.lt {
     background-position: -192px -48px;
}
.lv {
     background-position: -240px -48px;
}
.my {
     background-position: -480px -48px;
}
.nl {
     background-position: -600px -48px;
}
.no {
     background-position: -624px -48px;
}
.ph {
     background-position: -768px -48px;
}
.pl {
     background-position: -792px -48px;
}
.pt {
     background-position: 0 -72px;
}
.ro {
     background-position: -144px -72px;
}
.ru {
     background-position: -192px -72px;
}
.sk {
     background-position: -408px -72px;
}
.sl {
     background-position: -432px -72px;
}
.sv {
     background-position: -288px -72px;
}
.sw {
     background-position: -48px -96px;
}
.th {
     background-position: -528px -72px;
}
.tr {
     background-position: -552px -72px;
}
.uk {
     background-position: -648px -72px;
}
.vi {
     background-position: -744px -72px;
}
.zh {
     background-position: -360px -24px;
}
.zs {
     background-position: -552px 0;
}

// //

#results {
    text-align: center;
    border-bottom: 2px solid #a9a9a9;
    width: 100%;
}

#results {
    width: 80%;
    margin: 2% 10%;
}

.aff {
  background: #ffffff none repeat scroll 0 0;
    border-bottom: 2px solid #a9a9a9;
    border-radius: 4px;
    box-shadow: 0 2px 5px -4px rgba(0, 0, 0, 0.75);
    height: 100%;
    padding: 2% 10%;
    text-align: center;
    width: 80%;
    margin: 3% 10%;
}
// //

.banner-markup {
    background: #f5f5f5 none repeat scroll 0 0;
    list-style-type: none;
    padding: 16px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    margin: 20px;
    width: 70%;
}

code {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.banner-markup span {
    background: $orange;
    color: #FFFFFF;
}

.banner-wrap > img {
    float: left;
}

.banner-wrap {
    clear: left;
    list-style-type: none;
    background: #FFFFFF;
     border-radius: 4px;
     padding: 20px;
     -webkit-box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.75);
    border-bottom: 2px solid #a9a9a9;
    position: relative;
    margin-bottom: 30px;
}

.banner-img {
    bottom: 39px;
    clear: right;
    list-style-type: none;
    overflow: auto;
    display: inline-block;
    right: 0px;
    top: 41px;
    background: #F5F5F5 none repeat scroll 0px 0px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #E2E2E2;
    position: absolute;
    max-width: 28%;
}

.logo img {
    width: 30px;
    float: right;
    position: absolute;
    top: 20px;
    right: 30px;
}

.box__dim {
  background: darken($grey-light, 4%);
  font-size: 12px;
  padding: 5px;
  border-radius: 4px;
  border-top: 1px solid darken($grey-light, 10%);
  border-left: 1px solid darken($grey-light, 10%);
  border-bottom: 1px solid darken($grey-light, 1%);
  border-right: 1px solid darken($grey-light, 1%);
  margin-left: 10px;
  box-shadow: 1px 0px 0px #fff;
  transition: all 0.5s ease-in-out;
}

nav {
  background: #FFFFFF;
  border-bottom: 1px solid darken(#FFFFFF, 12%);
  padding: 1rem;
  top: 0px;
  z-index: 20;
  display: flex;
  width: 100%;
}

nav > div {
  flex: 1;
  text-align: right;
}

.icn {
  width: 20px;
  height: 20px;
}

.icn.fa {
  color: $grey;
  text-shadow: none;
}

.steps .fa {
    margin-left: 10px;
}

.steps button {
  padding: 0.2rem 1rem;
  flex: 4;
  height: 80px;
  background: none;
  border: none;
  border-width: 0;
  box-sizing: border-box;
  position: relative;
  color: lighten( $grey, 26% );
  font-size: 0.8rem;
}

.steps button.selected {
  color: $green !important;
  width: 100%;
  transition: color 1s ease;
}

.steps button > span {
  width: 0;
}

.steps button.selected > span {
    width: 100%;
    height: 4px;
    position: absolute;;
    z-index: 99999999999999999;
    bottom: 0;
    background: $green;
    left:0;
    transition: width 1s ease;
}

.tab--added ~ div {
  border: 4px solid red;
}

#notifications {
  background: lighten($orange, 25%);
  border-radius: $global-border-radius;
  width: 96.6%;
  transition: all 0.5s ease;
  margin: 0px 1.4%;
  transition: all 0.5s ease;
  position: relative;;
  //box-shadow: 0px 2px 0px darken($orange,3%);
}

.meh  {
  padding: 0.6rem 2rem !important;
  border: 1px solid lighten($orange, 20%) !important;
  transition: all 0.5s ease;
  border-radius: 2px;
  padding: 0;
  box-shadow: 0px 2px 0px #e1aa494d
}

.meh::before {
  content: "\f071";
  font-family: 'FontAwesome';
  color: darken($orange, 10%);
  padding-right: 10px;
}

.rah::after {
  content: "\f057";
  font-family: 'FontAwesome';
  color: darken($orange, 10%);
  padding-right: 10px;
  float: right;
  font-size: 1rem;
  position: absolute;
  right: 0;
  top: 16px;
  height: 100%;
  width: 50px;
  transition: all 0.5s ease;
}

.hideNotif {
  opacity: 0 !important;
  transition: all 0.5s ease;
  padding: 0 !important;
  height: 0 !important;

}


/************** Colorbox Core Style: ***************/

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}
#cboxOverlay{background:#101010; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0; border: 6px solid #FFFFFF;}
#cboxContent{background:#fff; overflow:visible;}
#cboxLoadedContent{margin-bottom:5px;}
#cboxCurrent{position:absolute; bottom:-25px; left:58px; font-weight:bold; color:#7C7C7C;}
/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible;  position:absolute; bottom:-29px; background:url(../img/colorbox/controls.png) no-repeat 0px 0px; width:23px; height:23px; text-indent:-9999px;}
/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

/************** Media Quries *****************/

@media screen and (min-width: 540px) {
  body  {padding-bottom: 10px;}
  .header { height: 150px;}
  .box { width: 50%;}
  .langtab {width: 27%;}
  footer {bottom: 0; height: 100%;  right: 0; width: 15%; display: none;}
  footer .logo {display: inline;}
  .get_btn {width: 90%;}
  .footer-summary {float: none;}
  .footer-summary span {width: 90%; top: 0;}

}

@media screen and (min-width: 880px) {
    .box { width: 33.3%; }
    .search_input {}
    .header { padding: 0;}

}

@media screen and (min-width: 1080px) {
}

@media screen and (min-width: 1280px) {
    .box { width: 24.8%; }
}
