//Colors//
$primary-color: #333;
$grey-light: #EFEDEA;
$grey: #999999;
$blue: #0E94F7;
$dark-blue: #0771C4;
$green: #0AE791;
$turquoise: #46E0C6;
$white: #FFFFFF;
$purple: #666699;
$orange: #FF8D20;

$global-border-radius: 4px;

@import "base/typography";
@import "base/resets";
@import "components/buttons";
@import "components/card";
@import "components/nav";
@import "components/cardFooter";
@import "components/notifications";
@import "components/steps";
@import "layout/header";
@import "layout/footer";
@import "vendors/colorbox";
//@import "components/**/*.scss";

// Standards //

p {
  font-weight: $weight-thin;
  color: darken( $grey, 30% );
  font-size: 0.9rem;
  margin-top: 0;
}

h1 {
	color: $dark-blue;
  font-family: $font-open;
  margin: 0;
  padding-top: 10px;
  text-shadow: 2px 2px 1px #ffffff;
  text-align: center;
  font-size: $font-size-x-large;
  font-weight: $weight-thin;
}

h2 {
  font-family: $font-open;
  text-align: center;
}

h3 {
  font-size: $font-size-large;
  color: $blue;
  font-weight: $weight-thin;
  text-align: center;
}

.steps {
  display: flex;
  justify-content: center;
}

// Header & Footer //


.footer-summary {
    display: inline;
    float: left;
}

.footer-summary span {
    background: $dark-blue;
    border-radius: 2px;
    color: #ffffff;
    list-style-type: none;
    padding: 10px;
    margin: 14px;
    position: relative;
    top: -82px;
    display: block;
    margin: 0 auto 12px;
    width: 90%;
    text-align: center;
    font-weight: $weight-thick;
}

// Banner Boxes //

#container {
    padding: 15px;
    width: 100%;
}

.container {
  margin: 20px 3%;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  opacity: 1;
}

.container.ng-hide {
  opacity: 0;
}

.container.ng-hide-remove {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}


.fa-3x {
    font-size: $font-size-x-large !important;
    color: $grey;
}

// Inputs, labels etc....//

label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}

input[type=checkbox] {
  display: none;
}

label:before {
  content: "\f00c";
  display: table;
  width: 36px;
  height: 36px;
  background-color: #c8c8c8;
  color: #F5F5F5;
  font-size: 26px;
  line-height: 36px;
  font-family: FontAwesome;
}

label:before:hover {
  background-color: #67ACE9;
}

.checkbox label {}

.checkbox label::before {
    border-radius: 50%;
    margin-left: -14px;
    position: relative;
    top: 5px;
}

input[type=checkbox]:checked + label:before {
  content: "\f00c ";
  font-size: 26px;
  color: #f3f3f3;
  text-align: center;
  line-height: 36px;
  background-color: #67ACE9;
  font-family: FontAwesome;
}

.search_input {
  background: #e6e6e6 none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: $global-border-radius;
  margin: 30px 10px 20px;
  padding: 10px;
}

.search_input input[type="text"] {
  border: 1px solid #ccc;
  border-radius: $global-border-radius;
  color: #35619f;
  font-size: 19px;
  font-weight: $weight-thin;
  height: 40px;
  margin: 0;
  padding: 0 20px;
  width: 100%;
}

.search_input input[type="button"] {
  background: lighten( $grey, 32% );
  border: medium none;
  border-radius: $global-border-radius;
  color: #ffffff;
  font-size: 19px;
  padding: 8px;
  width: 20%;
}

/************** Language Select *****************/

#languages {
    background: $white;
    border-bottom: 2px solid #a9a9a9;
    border-radius: 4px;
    box-shadow: 0 2px 5px -4px rgba(0, 0, 0, 0.75);
    display: inline;
    float: left;
    height: 100%;
    padding: 2% 4%;
    text-align: center;
    width: 80%;
    margin: 2% 10%;
}

.langtab {
    background: lighten( $grey, 36% );
    border-radius: $global-border-radius;
    /****box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);****/
    cursor: pointer;
    float: left;
    padding: 10px 6px;
    transform: translateY(-2px);
    transition: all 0.1s linear 0s;
    width: 100%;
    margin: 27px 3%;
}

.langtab--added {
    background: $green;
    box-shadow: none;
    border: none;
    transition: all 0.1s linear 0s;
    /****box-shadow: 0px -1px 1px #5e5e5e;****/
}

.langtab--added p {
  color: $white !important;
}

.langtab--added .fa.fa-check.fa-3x {
  color: $white !important;
}

#languages [data-id] {
  width: 93%;
  transition: all 0.2s ease-in-out 0s;
}

.langtab.langtab--add > p {
    display: inline;
    font-size: 20px;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.langtab .flag {
    background-image: url("../img/sprite-flags.png");
    display: block;
    float: left;
    height: 22px;
    width: 22px;
}

.langtab.langtab--add i {
    border-left: 1px solid #e2e2e2;
    float: right;
    padding: 0 10px;
    font-size: 1.5rem !important;
}

.en {
     background-position: 0 -24px;
}
.fr {
    background-position: -96px -24px;
}
.it {
    background-position: -648px -24px;
}
.ae {
     background-position: -24px 0;
}
.bg {
     background-position: -384px 0;
}
.br {
     background-position: -336px 0;
}
.cs {
     background-position: -624px 0;
}
.ct {
     background-position: -456px 0;
}
.de {
     background-position: -696px 0;
}
.da {
     background-position: -672px 0;
}
.ee {
     background-position: -768px 0;
}
.es {
     background-position: -24px -24px;
}
.fi {
     background-position: -48px -24px;
}
.gr {
     background-position: -240px -24px;
}
.he{
     background-position: -336px -24px;
}
.hr {
     background-position: -408px -24px;
}
.hu {
     background-position: -456px -24px;
}
.id {
     background-position: -480px -24px;
}
.is {
     background-position: -600px -24px;
}
.jp {
     background-position: -672px -24px;
}
.ko {
     background-position: 0 -48px;
}
.lt {
     background-position: -192px -48px;
}
.lv {
     background-position: -240px -48px;
}
.my {
     background-position: -480px -48px;
}
.nl {
     background-position: -600px -48px;
}
.no {
     background-position: -624px -48px;
}
.ph {
     background-position: -768px -48px;
}
.pl {
     background-position: -792px -48px;
}
.pt {
     background-position: 0 -72px;
}
.ro {
     background-position: -144px -72px;
}
.ru {
     background-position: -192px -72px;
}
.sk {
     background-position: -408px -72px;
}
.sl {
     background-position: -432px -72px;
}
.sv {
     background-position: -288px -72px;
}
.sw {
     background-position: -48px -96px;
}
.th {
     background-position: -528px -72px;
}
.tr {
     background-position: -552px -72px;
}
.uk {
     background-position: -648px -72px;
}
.vi {
     background-position: -744px -72px;
}
.zh {
     background-position: -360px -24px;
}
.zs {
     background-position: -552px 0;
}

// //

#results {
    text-align: center;
    border-bottom: 2px solid #a9a9a9;
    width: 100%;
}

#results {
    width: 80%;
    margin: 2% 10%;
}

.aff {
  background: #ffffff none repeat scroll 0 0;
    border-bottom: 2px solid #a9a9a9;
    border-radius: 4px;
    box-shadow: 0 2px 5px -4px rgba(0, 0, 0, 0.75);
    height: 100%;
    padding: 2% 10%;
    text-align: center;
    width: 80%;
    margin: 3% 10%;
}
// //

.banner-markup {
    background: #f5f5f5 none repeat scroll 0 0;
    list-style-type: none;
    padding: 16px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    margin: 20px;
    width: 70%;
}

code {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.banner-markup span {
    background: $orange;
    color: #FFFFFF;
}

.banner-wrap > img {
    float: left;
}

.banner-wrap {
    clear: left;
    list-style-type: none;
    background: #FFFFFF;
     border-radius: 4px;
     padding: 20px;
     -webkit-box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.75);
    border-bottom: 2px solid #a9a9a9;
    position: relative;
    margin-bottom: 30px;
}

.logo {
  float: left;
}

.logo img {
    width: 17px;
}

.card__dim {
  background: darken($grey-light, 4%);
  font-size: 12px;
  padding: 5px;
  border-radius: 4px;
  border-top: 1px solid darken($grey-light, 10%);
  border-left: 1px solid darken($grey-light, 10%);
  border-bottom: 1px solid darken($grey-light, 1%);
  border-right: 1px solid darken($grey-light, 1%);
  margin-left: 10px;
  box-shadow: 1px 0px 0px #fff;
  transition: all 0.5s ease-in-out;
}




.tab--added ~ div {
  border: 4px solid red;
}





/************** Media Quries *****************/

@media screen and (min-width: 540px) {
  body  {padding-bottom: 10px;}
  .header { height: 150px;}
  .card { width: 50%;}
  .langtab {width: 27%;}
  footer {bottom: 0; height: 100%;  right: 0; width: 15%; display: none;}
  footer .logo {display: inline;}
  .get_btn {width: 90%;}
  .footer-summary {float: none;}
  .footer-summary span {width: 90%; top: 0;}

}

@media screen and (min-width: 880px) {
    .card { width: 33.3%; }
    .search_input {}
    .header { padding: 0;}

}

@media screen and (min-width: 1080px) {
}

@media screen and (min-width: 1280px) {
    .card { width: 24.8%; }
}
