<section class="languages">
  <article class="languages__container">
    <h1>Please select your chosen language</h1>
    <div class="languages__container--meh">
      <p>Multiple may be selected</p>
      <div ng-repeat="lang in languages | filter: {languages: search.code}" class="languages__container__tabs">
          <div class="langtab langtab--add" ng-class="{'langtab--added': lang.selected}" ng-click="lang.selected = !lang.selected">
                <span ng-class="lang.code" class="flag"></span>
                <p>{{lang.title}}</p>
                <i class="fa fa-check fa-3x"></i>
          </div>
      </div>
    </div>
  </article>
  <aside class="languages__sidebar">
  <div ng-repeat="banner in banners | filter: {selected: true}">
    <img class="languages__sidebar--img" ng-src="img/preview/{{banner.preview}}/en.jpg">
  </div>
  </aside>
</section>
