<!DOCTYPE html>
<html lang="en" ng-app="bannerApp">
	<head>
		<meta charset="UTF-8">
		<title>rentalcars.com | Marketing Banner APP</title>
 		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
				<script src="libs/jquery/dist/jquery.js"></script>
        <script src="libs/jquery-colorbox/jquery.colorbox-min.js"></script>
        <script src="libs/jquery-colorbox/jquery.colorbox-min.js"></script>
        <script src="libs/angular/angular.js"></script>
        <script src="libs/angular-animate/angular-animate.js"></script>
				<script src="libs/sticky/sticky.js"></script>
				<script src="js/app.js"></script>
				<script src="js/directives.js"></script>

	</head>

	<body ng-controller="MainCtrl">
		<header>
			<div class="steps">
				<button class="steps__btn" ng-class="{'selected': page == 1, 'passed': page &gt; 1}" ng-click="previousStep(1)"><span></span>Pick your banner sizes<i class="fa fa-file-image-o"></i></button>
				<button class="steps__btn" ng-class="{'selected': page == 2, 'passed': page &gt; 2}" ng-click="previousStep(2)"><span></span>Choose your languages <i class="fa fa-globe"></i></button>
				<button class="steps__btn" ng-class="{'selected': page == 3, 'passed': page &gt; 3}" ng-click="previousStep(3)"><span></span>Enter your Aff code <i class="fa fa-cogs"></i></button>
				<button class="steps__btn" ng-class="{'selected': page == 4, 'passed': page &gt; 4}" ng-click="previousStep(4)"><span></span>Grab your banners</button>
			</div>
    	</header>
			<nav sticky>

			  <div>
					<div class="logo">
							<a href="index.html"><img src="img/RC-Logomark_RGB.png"></a>
					</div>
			    <div ng-show="page === 1">
			      <a id="btnLangs" ng-click="loadStep(2, banners)" class="get__btn get__btn--blue lang" ng-hide="searchcriteria">Choose Languages</a>
			    </div>
			    <div ng-show="page === 2">
			      <span ng-repeat="lang in languages | filter: {selected: true}">
			        {{lang.code}}
			      </span>
			      <a id="btnBanners" ng-click="loadStep(3, languages)" class="get__btn banner">Aff code</a>
			    </div>
			    <div ng-show="page === 3">
			      <a id="btnBanners" ng-click="loadStep(4, affcode)" class="get__btn banner">Get Banners</a>
			    </div>
			    <div ng-show="page === 4">
			    </div>
			  </div>
			</nav>
    	<div ng-show="page === 1" class="container">
			<!--div class="search_input size">
            <input ng-model="search.size" type="text" id="searchcriteria" placeholder="Search for the banner size you are looking for....." />
        </div-->
				<div id="notifications" ng-click="hideNotif()">
				</div>
				<span ng-repeat="banner in banners | filter: {selected: true}">

				</span>

      	<section>
					<div ng-repeat="banner in banners | filter: {dimensions: search.size}" class="card--hold">
						<card></card>

					</div>
				</section>

    	</div>
    	<div ng-show="page === 2" class="container">
				<languages></languages>

        	<!--div class="languages">
            <h3>Please Choose your Language(s)</h3>
        		<div ng-repeat="lang in languages | filter: {languages: search.code}">
            		<div class="langtab langtab--add" ng-class="{'langtab--added': lang.selected}" ng-click="lang.selected = !lang.selected">
                    	<span ng-class="lang.code" class="flag"></span>
                    	<p>{{lang.title}}</p>
                    	<i class="fa fa-check fa-3x"></i>
            		</div>
        		</div>
    		</div!-->
    	</div>
        <div ng-show="page === 3" class="container">
            <div class="aff">
                <h3>Please Enter Your Affiliate Code</h3>
                <div class="search_input size">
                    <input ng-model="affcode" type="text" size="50" >
                </div>

                <label><input type="checkbox" ng-model="adcampcheck" />Adcamp?</label>
                <label><input type="checkbox" ng-model="adplatcheck" />Adplat?</label>

                <div ng-show="adcampcheck">
                    <h3>Please Enter Your Adcamp Code</h3>
                    <div class="search_input size">
                    <input ng-model="adcamp" type="text" size="50" >
                    </div>
                </div>



                <div ng-show="adplatcheck">
                    <h3>Please Enter Your Adplat Code</h3>
                    <div class="search_input size">
                    <input ng-model="adplat" type="text" size="50" >
                    </div>
                </div>
                </div>
                </div>




        </div>
        <div ng-show="page === 4" class="container" id="results" >
            <div ng-repeat="banner in banners | filter: {selected: true}">
                <div class="banner-wrap">
                    <div ng-repeat="language in languages | filter: {selected: true} | limitTo: 1" class="banner-img">
                        <img ng-src="http://www.rentalcars.com/partners/integrations/banners/{{banner.img}}/{{language.code}}.jpg">
                    </div>
                    <div ng-repeat="language in languages | filter: {selected: true}" class="banner-markup">
                        <div id="try">{{language.title}}</div>
                        <code>&lt;a href="http://www.rentalcars.com/?affiliateCode=<span class="highlight">{{affcode}}</span>&preflang=<span class="highlight">{{language.code}}</span><span ng-show="adcamp">&adcamp=<span class="highlight">{{adcamp}}</span></span><span ng-show="adplat">&adplat=<span class="highlight">{{adplat}}</span></span>" rel="nofollow"&gt;</code><code>&lt;img src="http://www.rentalcars.com/partners/integrations/banners/{{banner.img}}/{{language.code}}.jpg"&gt;&lt;/a&gt;</code>
                    </div>
                </div>
            </div>
        </div>

	</body>
</html>
