.languages {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.languages__container {
  width: 75%;
}

.languages__sidebar {
  width: 20%;
  background: #FFFFFF;
  padding: 1rem;
  border-radius: $global-border-radius;
  display: flex;
  flex-direction: column;
}

.languages__sidebar--img {
  width: 100%;
  border-radius: $global-border-radius;
}

.languages__container--meh {
  background: #FFFFFF;
  padding: 1rem;
  border-radius: $global-border-radius;
}

.languages__container--wrap {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ededed;
  padding-top: 10px;
}
.languages__container__tabs {
    width: 143px;
    padding: 10px;
}

.languages__container__tabs label {
    padding-left: 20px;
    font-size: 0.9rem;
}

.languages__container--heading {
  font-size: 1.3rem !important;
  margin-bottom: 30px !important;
}
