//Imports//
@import url(http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:400,300,600,700);

//Typography//
$font-open: 'Open Sans', sans-serif;
$font-pacifico: 'Pacifico',cursive;
$font-size-small: 0.8em;
$font-size-regular: 1em;
$font-size-large: 1.5em;
$font-size-x-large: 2.5em;

$weight-thin: 300;
$weight-regular: 400;
$weight-thick:700;
